.Title{
    margin-top: 40px;
    font-size: x-large;
    font-weight: 600;
}
.ad-button{
    margin-left: 960px;
   margin-top: 10px;
}

.add-btn{
    width: 20px; 
}

.ad-txt{
    margin-left: 5px;
}